
@{
    ViewBag.Title = "Welcome!";
}

<h2 class="fancy-text">@ViewBag.Title</h2>

<p>
    Hello @ViewBag.UserID!
</p>
<p>
    Click 'Upload' to add one of your images, or 'Query' to search for an image.
</p>

<!--
<p>
    Visually impaired: @ViewBag.ADA
</p>
-->
