@model SelectList
@{
    ViewBag.Title = "List Images By User";
}

<h2>@ViewBag.Title</h2>

@{ Html.BeginForm("DoListByUser", "Image", FormMethod.Get); }

@Html.AntiForgeryToken()

<fieldset>
    <legend>Choose User</legend>
    <p>
        User: @Html.DropDownList("Id", Model)
    </p>
    <input type="submit" value="List" />
</fieldset>

@ViewBag.Message
@{ Html.EndForm(); }
